<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Tạo sản phẩm</h1>
<br>

<a th:href="@{/}">Quay lại danh sách sản phẩm</a>
<br>
<span th:if="${success}">Thêm sản phẩm thành công.</span>
<br>
<form th:action="@{__${@route.name('create')}__}" method="post">
    <table>
        <tbody>
        <tr>
            <td>Tên sẩn phẩm</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>Giá</td>
            <td><input type="text" name="price" /></td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td><input type="text" name="quantity" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Tạo</button></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>